body {
  margin: 0;
  padding: 0;
  background-color: rgb(190, 159, 219);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 4px;
}

h1 {
  text-align: center;
  padding: 1rem;
  color: rgb(9, 140, 140);
}

form {
  padding: 1rem;
}

label {
  font-size: 1.2rem;
}

.input {
  width: 100%;
  height: 2rem;
  margin-top: 4px;
  margin-bottom: 4px;
}

.addBook-btn {
  width: 100%;
  height: 2rem;
  margin-top: 12px;
  background-color: rgb(17, 190, 190);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.addBook-btn:hover {
  background-color: rgb(91, 185, 185);
}

.booklist-heading {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.book-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

hr {
  width: 95%;
}

.remove-btn {
  background-color: rgb(242, 92, 92);
  width: 2.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: rgb(158, 68, 68);
}
